body {
  background: #cce6ff;
  margin: 0;
}


/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #3399ff;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 15px;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: none;
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display:inline-block;
    /*background-color: #ddd;*/
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color:#80bfff;
    color: white;
}

/* Change the color of links on active */
.navbar .active{
    background-color:#80bfff;
    color: white;
}
#logo {
  padding-top: 0;
  background-color: #80bfff;
  max-width: 45%;
  max-height: 10%
}

.logo {
  padding-top: 0;
  background-color: #80bfff;
}

/* footer */
.footer {
    position: fixed;
    height: 50px;
    background-color: #3399ff;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
}



/* content test js css html */
#content-test {
  padding-top: 10%;
  text-align: center;
  }

/* Sign in */
#signup
{
  position: fixed;
  top: 50%;
  left: 52%;
  margin-top: -100px;
  margin-left: -200px;
  /* margin-right: 10%; */
  height: 310px;
  width: 310px;
  background: #dbedfd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.signUpBox{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: boarder-box;
  padding: 40px;
  width: 300px;
  height: 325px;
}

.loginHeader {
  font-size: 30px;
}


input[type="text"],
input[type="password"]{
  /*display: block;*/
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  /*outline: none;*/
  border-bottom: 1px solid #56abff;
  /*font-family: sans-serif;*/
  font-weight: 400px;
  font-size: 15px
}

input[type="submit"]{
 /* margin-bottom: 30px;*/
  width: 120px;
  height: 32px;
  background: none;
  border: none;
  color: grey;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  /*transition: wdith 2s;*/
  margin-left: 0%;
}

input[type="submit"]:hover{
  background: #3399ff;
  color: white;
  transition: 1.2s ease;
}


input[name="submit"]{
  width: 120px;
  height: 32px;
  background: none;
  border: none;
  color: grey;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  /*transition: wdith 2s;*/
  margin-left: 0%;
}

input[name="submit"]:hover{
  background: #3399ff;
  color: white;
  transition: 1.2s ease;
}

.loginBox{
  position: absolute;
  /*top: 0;*/
  right: 0;
  box-sizing: boarder-box;
  padding: 40px;
  width: 300px;
  height: 400px;

}

#login
{
  position: fixed;
  top: 50%;
  left: 52%;
  margin-top: -100px;
  margin-left: -200px;
  /* margin: 5% auto; */
  /* margin-left: 35%; */
  /* margin-right: 10%; */
  height: 300px;
  width: 300px;
  background: #dbedfd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

button{
  width: 120px;
  height: 32px;
  background: none;
  border: none;
  color: grey;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  /*transition: wdith 2s;*/

}

button:hover{
  background: #3399ff;
  color: white;
  transition: 1.2s ease;
}

@media (max-width: 768px){
  body{
    overflow: hidden;
  }

}
#Home {
  position: relative;
  left: 29.35%;
  height: 175px;
  width: 275px;
}

#About {
  position: relative;
  bottom: 180px;
  left: 51%;
  height: 175px;
  width: 275px;
}
#Sign {
  position: relative;
  bottom: 170px;
  left: 51%;
  height: 175px;
  width: 275px;
}
#Log {
  position: relative;
  Bottom: 350px;
  left: 29.35%;
  height: 175px;
  width: 275px;
}
